.fullscreen {
  width: 100%;
  height: 100vh;
}

.ed-logo {
  width: 130px;
  margin: 0 0 30px 0;
}

.name-intro {
  font-family: "Michroma", sans-serif;
  color: var(--primary-white);
  font-size: 35px;
  letter-spacing: 2px;
}

.logo-intro-container svg {
  width: 38px;
  height: 38px;
  color: var(--primary-white);
  bottom: 20px;
}

.chevron-container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  padding: 24px;
  pointer-events: none;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease;
}

.fade-in.visible {
  opacity: 1;
}

.fade-chevron {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-chevron.visible {
  opacity: 1;
}

/* -------Arrow animation------------ */
@-webkit-keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce {
  0%,
  to {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce {
  animation: bounce 1.5s infinite;
}

@media (max-width: 700px) {
  .logo-intro-container svg {
    bottom: 35px;
  }
}
